<h4>
  leagues
</h4>
<input type='text' style='padding:2px;margin:2px auto;width:100%;' placeholder='Search' (keyup)='updateFilter($event)' />
<ngx-datatable [rows]='leagues' class='material' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50"  [trackByProp]="'updated'"
  [scrollbarV]="true" [limit]="10">
  <ngx-datatable-column name='leagues'>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <a routerLink="/league/{{row.league}}">{{row.league}}</a>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name='matches'>
  </ngx-datatable-column>
</ngx-datatable>