<!--
<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <span class="navbar-brand">Betor</span>
      </div>
      <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a routerLink="/leagues">Leagues</a></li>
          <li><a routerLink="/matches">Matches</a></li>
      </ul>
  </div>
</nav>
-->
<app-my-nav></app-my-nav>
