<ng-container *ngIf='match'>
<h4 *ngIf='showHeader'>
  {{match.league}} - {{match.name}}
</h4>
<div *ngIf='match && match["1"]'> 1 : {{match["1"].odds}} at  {{match["1"].time}}</div>
<div *ngIf='match && match["X"]'> x : {{match["X"].odds}} at  {{match["X"].time}}</div>
<div *ngIf='match && match["2"]'> 2 : {{match["2"].odds}} at  {{match["2"].time}}</div>

  <ng-dygraphs [data]="data" [options]="options"></ng-dygraphs>
</ng-container>