<!--
<ul *ngFor="let match of matches" style="display: none;">
  <li><a routerLink="/match/{{match.league}}/{{match.name}}">
    <div *ngIf = 'showLeague'>{{match.league}}</div>
    <div>{{match.name}}</div>
    <ul *ngFor="let odds of match.odds">
      <li>{{odds}}</li>
    </ul>

  </a></li>
</ul>
-->
<input type='text' style='padding:2px;margin:2px auto;width:100%;' placeholder='Search' (keyup)='updateFilter($event)' />
<ngx-datatable #myTable class='material expandable' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="50"
  [scrollbarV]="true" [limit]="10" [rows]='matches'>
  <!-- Row Detail Template -->
  <ngx-datatable-row-detail [rowHeight]="200" #myDetailRow (toggle)="onDetailToggle($event)">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
      <app-match-details [match]='row' [showHeader]='false'></app-match-details>
    </ng-template>
  </ngx-datatable-row-detail>
  <ngx-datatable-column *ngIf='showLeague' name="league">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <a routerLink="/league/{{row.league}}">{{row.league}}</a>
    </ng-template>
  </ngx-datatable-column>
  <!-- Column Templates -->
  <ngx-datatable-column name="name">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <a routerLink="/match/{{row.league}}/{{row.name}}">{{row.name}}</a>
    </ng-template>
  </ngx-datatable-column>
  
  <ngx-datatable-column [width]="20" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
        (click)="toggleExpandRow(row)">
      </a>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="1">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
        <div *ngIf='row && row["1"]'>{{row["1"].odds}}</div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="X">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div *ngIf='row && row["X"]'>{{row["X"].odds}}</div>
      </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="2">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div *ngIf='row && row["2"]'>{{row["2"].odds}}</div>
      </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="lastUpdated"> </ngx-datatable-column>
  
  <!--
        
        <ngx-datatable-column width="30" name="odds">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <ng-container *ngFor="let odd of value">
              <div>{{odd}}</div>
            </ng-container>
          </ng-template>
        </ngx-datatable-column>
      -->
</ngx-datatable>